<!DOCTYPE html>
<html>
<head>
	<title>
		<% if (personName == null) { %>
			Send Ganesh Chaturthi Digital Postcard To Your Loved Ones. Create Your Digital Postcard Now...
		<% } else  { %>
		<%= personName %> Sent You A Digital Postcard. Tap to view...
		<% } %>
	</title>	
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
		<% if (personName == null) { %>
			<meta property="og:title" content="Send Ganesh Chaturthi Digital Postcard To Your Loved Ones"/>
		<% } else  { %>
			<meta property="og:title" content="<%= personName %> Sent You A Digital Postcard"/>
		<% } %>
		<% if (personName == null) { %>
			<meta property="og:description" content="Customized Digital Postcards and more. Create Your Digital Postcard Now..."/>
		<% } else  { %>
			<meta property="og:description" content="Click to view digital postcard sent by <%= personName %>."/>
		<% } %>
</head>
<body>
<header>
	<br>
	<h2><span>G</span> Happy Ganesh Chaturthi <span>G</span></h2>
	<div class="centering">
		<center><img src="/ganeshjiimg.png" width="350px>" /></center>
		<p>
			<% if (personName == null) { %>
			Please Enter Your Name Below
			<% } else  { %>
				May the blessings of Shree Ganesha be with you and your family forever! <br> Happy Ganesh Chaturthi 2021 <br><br>
				<h2>~ From <%= personName %> </h2> 
				<% } %>
		</p>
		<br>
		<center>
			<h5>
				Advertisement
			</h5>
			<script type="text/javascript">
				atOptions = {
					'key' : '7a0d7dc9d183e7016bb1bec99c42e9b4',
					'format' : 'iframe',
					'height' : 90,
					'width' : 728,
					'params' : {}
				};
				document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.highperformancedisplaycontent.com/7a0d7dc9d183e7016bb1bec99c42e9b4/invoke.js"></scr' + 'ipt>');
			</script>
			<script async="async" data-cfasync="false" src="//pl16304407.achievablecpmrevenue.com/67a2c7c5746c1262adb64f557525048c/invoke.js"></script>
			<div id="container-67a2c7c5746c1262adb64f557525048c"></div>
		</center>
		<br>
		<form action="/ganeshchaturthi/" method="POST">
			<div class="center">
				<input type="text" name="name" class="input" required placeholder="Enter your name..." autocomplete="off" oninvalid="this.setCustomValidity('Please enter your name...')" oninput="this.setCustomValidity('')"/>
				<!-- <button type="submit" class="glow-on-hover" target="_blank" onclick="window.open('https://www.achievablecpmrevenue.com/janrbi53wu?key=78c495a039684d2ed9f17698c938105e','_blank')">Generate Postcard</button> -->
				<button type="submit" class="glow-on-hover" target="_blank">Generate Postcard</button>

			</div>
		</form>
		<br>
		<% if (strName != null) { %>
			<div class="center">
				<a href="https://wa.me/?text=http://localhost:3000/ganeshchaturthi/?qname=<%= encodeURIComponent(strNameEncoded) %>" class="glow-on-hover center" target="_blank" >Send Postcard via Whatsapp</a>&nbsp;&nbsp;&nbsp;
				<a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:3000/ganeshchaturthi/?qname=<%= encodeURIComponent(strNameEncoded) %>" class="glow-on-hover center" target="_blank">Send Postcard via Facebook</a>&nbsp;&nbsp;&nbsp;
				<a href="https://twitter.com/share?url=http://localhost:3000/ganeshchaturthi/?qname=<%= encodeURIComponent(strNameEncoded) %>" class="glow-on-hover center" target="_blank">Send Postcard via Twitter</a>
			</div>
		<% } %>
	</div>
</header>


</body>
</html>