<!DOCTYPE html>
<html>
<head>
	<title>
		<% if (personName == null) { %>
		Ganesh Chaturthi Digital Greeting Card
		<% } else  { %>
		<%= personName %> Sent You A Digital Postcard
		<% } %>
	</title>	
	<link rel="stylesheet" type="text/css" href="/style.css">
	<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
		<% if (personName == null) { %>
			<meta name="description" content="Send a digital postcard to your loved ones."/>
		<% } else  { %>
			<meta name="description" content="Click to view digital postcard sent by <%= personName %>."/>
		<% } %>
</head>
<body>
<header>
	<br>
	<h2><span>G</span> Happy Ganesh Chaturthi <span>G</span></h2>
	<div class="centering">
		<center><img src="/ganeshjiimg.png" width="350px>" /></center>
		<p>
			<% if (personName == null) { %>
			Please Enter Your Name Below
			<% } else  { %>
				May the blessings of Shree Ganesha be with you and your family forever! <br> Happy Ganesh Chaturthi 2021 <br><br>
				<h2>~ From <%= personName %> </h2> 
				<% } %>
		</p>
		<br><br>
		<form action="/ganeshchaturthi/" method="POST">
			<div class="center"><input type="text" name="name" class="input" required placeholder="Enter your name..." oninvalid="this.setCustomValidity('Please enter your name...')" oninput="this.setCustomValidity('')"/>
			<button type="submit" class="glow-on-hover">Submit</button>
			</div>
		</form>
		<br>
		<% if (strName != null) { %>
			<div class="center">
				<a href="https://wa.me/?text=http://localhost:3000/ganeshchaturthi/?qname=<%= encodeURIComponent(strNameEncoded) %>" class="glow-on-hover center" target="_blank">Share via Whatsapp</a>&nbsp;&nbsp;&nbsp;
				<a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:3000/ganeshchaturthi/?qname=<%= encodeURIComponent(strNameEncoded) %>" class="glow-on-hover center" target="_blank">Share on Facebook</a>&nbsp;&nbsp;&nbsp;
				<a href="https://twitter.com/share?url=http://localhost:3000/ganeshchaturthi/?qname=<%= encodeURIComponent(strNameEncoded) %>" class="glow-on-hover center" target="_blank">Share on  Twitter</a>
			</div>
		<% } %>
	</div>
</header>


</body>
</html>